
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="prices-outer-wrap">
			<div class="footer-title">Прайс лист</div>
			<div class="menu-wrap">
				<ul class="menu">
					<li><a href="">Бирки</a></li>
					<li><a href="">Бланки</a></li>
					<li><a href="">Блокноты</a></li>
					<li><a href="">Брошюры</a></li>
					<li><a href="">Буклеты</a></li>
					<li><a href="">Кубарики</a></li>
					<li><a href="">Визитки</a></li>
					<li><a href="">Воблеры</a></li>
					<li><a href="">Грамоты</a></li>
					<li><a href="">Дипломы</a></li>
					<li><a href="">Дисконтные карты</a></li>
					<li><a href="">Дорхенгеры</a></li>
					<li><a href="">Журналы</a></li>
					<li><a href="">Календари</a></li>
					<li><a href="">Картхолдеры</a></li>
					<li><a href="">Каталоги</a></li>
					<li><a href="">Конверты</a></li>
					<li><a href="">Листовки</a></li>
					<li><a href="">Лифлеты</a></li>
					<li><a href="">Меню</a></li>
					<li><a href="">Наклейки</a></li>
					<li><a href="">Открытки</a></li>
					<li><a href="">Пакеты</a></li>
					<li><a href="">Папки</a></li>
					<li><a href="">Печать книг</a></li>
					<li><a href="">Печать на дисках</a></li>
					<li><a href="">Плакаты</a></li>
					<li><a href="">Плейсметы</a></li>
					<li><a href="">Презентации</a></li>
					<li><a href="">Пригласительные</a></li>
					<li><a href="">Сертификаты</a></li>
					<li><a href="">Стикеры</a></li>
					<li><a href="">Сувенирные коробки</a></li>
					<li><a href="">Штампы, печати</a></li>
					<li><a href="">Тейбл тенты</a></li>
					<li><a href="">Удостоверения</a></li>
					<li><a href="">Флаеры</a></li>
					<li><a href="">Ценники</a></li>
					<li><a href="">Этикетки</a></li>
				</ul>
			</div>
			<div class="search-wrap">
				<form action="/" class="frm-main-search">
					<input type="text" placeholder="Поиск" class="form-input">
					<button class="btn-action-ico ico-search"></button>
				</form>
			</div>
		</div>
		<div class="footer-wrap">
			<div class="footer-outer-wrap">
				<div class="menu-wrap">
					<div class="footer-title">Услуги</div>
					<ul class="menu">
						<li><a href="">Офсетная печать</a></li>
						<li><a href="">Цифровая печать</a></li>
						<li><a href="">Дизайн и верстка</a></li>
						<li><a href="">Создание сайтов</a></li>
						<li><a href="">Наружная реклама</a></li>
						<li><a href="">Сувенирная продукция</a></li>
						<li><a href="">Разработка бренда</a></li>
						<li><a href="">Оперативная печать</a></li>
						<li><a href="">Широкоформатная полиграфия</a></li>
					</ul>
				</div>
				<div class="footer-inner-wrap">
					<div class="contacts-info-wrap">
						<div class="contacts-wrap">
							<div class="footer-title">Наш адрес</div>
							<div class="cnt-wrap">
								<div class="cnt-inner">Москва, ул. Сайкина, д. 17</div>
								<div class="cnt-inner"><a href="mailto:zakaz@stolitsaprint.ru">zakaz@stolitsaprint.ru</a></div>
								<div class="cnt-inner"><a href="tel:84957280956">8 (495) 728-09-56</a></div>
							</div>
						</div>
						<div class="info-wrap">
							<div class="footer-title">Реквизиты</div>
							<p>
								ИНН 7701948090 <br>
								КПП 770101001 <br>
								ООО «Столичная печать» <br>
								р/с 40702810700000020241 <br>
								к/с 30101810345250000745 <br>
								БИК 044525745 <br>
								Типовой договор
							</p>
						</div>
					</div>
					<div class="site-menu-wrap">
						<div class="footer-title">Инфо</div>
						<ul class="menu">
							<li><a href="">О нас</a></li>
							<li><a href="">Требования к макетам</a></li>
							<li><a href="">Отзывы</a></li>
							<li><a href="">Вопрос-ответ</a></li>
							<li><a href="">Статьи</a></li>
							<li><a href="">Новости</a></li>
							<li><a href="">Оборудование  </a></li>
							<li><a href="">Правила онлайн оплаты</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-bottom-wrap">
				<div class="bottom-left-wrap">
					<div class="bottom-menu-wrap">
						<ul class="menu">
							<li><a href="">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ </a></li>
							<li><a href="">УСЛОВИЯ И ПОЛОЖЕНИЯ </a></li>
							<li><a href="">КАРТА САЙТА </a></li>
						</ul>
					</div>
					<div class="bottom-icons-wrap">
						<img src="./img/main/footer.png" alt="">
						<img src="./img/main/footer-m.png" alt="" class="img-mobile">
					</div>
				</div>
				<div class="bottom-right-wrap">
					<p>Цены указанные на сайте типографии Столичная печать носят ориентировочный,
						информационный характер и не являются публичной офертой. <br>
						Актуальность ценовой политики необходимо уточнять у менеджеров по тел: 8 (495) 728-09-56 <br>
						© 2021 </p>
					<p>Типография "Столичная печать". Все права защищены, полное и (или) частичное копирование,
						воспроизведение, использование в любом виде запрещены и преследуются в соответствии с
						действующим законодательством Российской Федерации.</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->


<!--popup-box-->
<div class="popup-box" id="popup-order">
	<div class="popup-title-wrap">
		<div class="popup-title main-title">ОСТАВИТЬ ЗАЯВКУ</div>
	</div>
	<div class="popup-content-wrap">
		<form action="/" class="frm-popup">
			<div class="frm-row">
				<div class="frm-field field-third">
					<input type="text" class="form-input" placeholder="Ваше имя">
				</div>
				<div class="frm-field field-third">
					<input type="tel" class="form-input" placeholder="Ваш телефон">
				</div>
				<div class="frm-field field-third">
					<input type="email" class="form-input" placeholder="Ваш email">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<textarea class="form-input" placeholder="Информация о заказе"></textarea>
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field field-file">
					<div class="frm-field-file js-field-file">
						<input type="file">
						<a href="" class="btn-file js-file-button">Прикрепить файл</a>
						<div class="file-caption js-file-caption"></div>
					</div>
				</div>
			</div>
			<div class="frm-row-submit">
				<div class="submit-info">
					<div class="frm-select">
						<input type="checkbox" id="popup">
						<label for="popup">Согласен на обработку <a href="">персональных данных</a></label>
					</div>
				</div>
				<div class="submit-button">
					<button type="submit" class="btn">Отправить</button>
				</div>
			</div>
		</form>
	</div>
</div><!--/popup-box-->